.header-menu {
  display: none;
}

@media screen and (max-width:325px) {
  .header-menu {
    margin-left: 0;
  }
}

@media screen and (max-width:403px) {
  .header-menu {
    margin-left: auto;
  }
}

@media screen and (max-width:450px) {
  .logo {
    height: 72px;
  }
  .header-title {
    font-size: 1em;
  }
}

@media screen and (max-width:513px) {
  .nav {
    z-index: 15;
    width: 300px;
    position: absolute;
    transform: translate(-300px, 0);
    transition: transform 0.3s ease;
  }
  .nav.open {
    transform: translate(0, 0);
  }
  .menu {
    display: list-item;
    border-bottom: 1px solid #E0E0E0;
    width: 100%;
    text-align: left;
    color: black;
  }
  .nav a:hover {
    background-color: rgb(62, 88, 182);
  }
  .header-menu {
    display: inline-flex;
    padding: 1em;
  }
  .header-menu svg {
    width: 32px;
    fill: #E0E0E0;
  }
}

@media screen and (max-width:600px) {
  .about h2 {
    font-size: 2em;
    padding: 5px;
  }
  .about-me {
    padding: 2px;
    line-height: 1em;
  }
  .about-me p {
    margin: 10px;
    ;
  }
}

@media screen and (min-width:601px) {
  .about h2 {
    font-size: 2em;
    padding: 5px;
  }
  .about-me {
    padding: 5px;
    text-align: justify;
    line-height: 1em;
  }
  .about-me p {
    margin: 10px;
    ;
  }
  .project {
    width: 48%;
    order: 1;
  }
}

@media screen and (min-width:1100px) {
  .project {
    width: 31%;
  }
  .project-title {
    font-size: 1.5em;
  }
  .about-me p {
    margin: 20px;
    padding: 20px;
    text-align: center;
    letter-spacing: 1.5px;
  }
}

@media screen and (min-width:1320px) {
  .project {
    width: 23%;
  }
  .project-title {
    font-size: 1.3em;
  }
}

@media screen and (max-width:540px) {
  .fa {
    padding: 12px;
    font-size: 25px;
    width: 25px;
    background-color: #1a1a1d;
    color: white;
  }

.fa:hover {
  background: none;
  color: none;
  transform: none;
}

  }

